<div class="container">
<div id="juny_div" class="chardiv row">
    <img src="/images/juny_neutral.png" class="character_img col-6">
    <div id="juny_txt" class="col-6">
        <h2>Juny</h2>
        <p class="cp">
            Juny is a princess of the forest tribe in the earth-kingdom. Her people were nearly extinct by the hand of humans when the latter arrived on the continent, but during recent years, they have lived in harmony. Juny is caring and full of love for everyone and everything, which is why she chose to practice the magic of healing. She searches for the golden die so she can expand the territory for her tribe. 
        </p>
    </div>
</div>
</div>