

<div class="container">
    <div id="leon_div" class="chardiv row">
        <img src="/images/leon_neutral.png" class="character_img col-6">
        <div id="leon_txt" class="col-6">
            <h2>Leon</h2>
            <p class="cp">
                Leon is part of a clan in the kingdom of Dark matter. Though his clan shares blood with the royal family, they are outcasts and live in the shadows. This is due to a familiar dispute between his and the reigning family's ancestors. He and the rest of his clan don't search for the golden die per se, but rather other people who have already found it, or seem capable of doing so…
            </p>
        </div>
    </div>
    </div>