

<div class="container">
    <div id="antoinette_div" class="chardiv row">
        <img src="/images/antoinette_neutral.png" class="character_img col-6">
        <div id="antoinette_txt" class="col-6">
            <h2>Antoinette</h2>
            <p class="cp">
                Antoinette is a traveling violinist whose music is said to have healing properties. She has made quite a name for herself all over Fait. While traveling, she also searches for the golden die. With it, she plans to make a lively gathering point in the center of the continent where people can enjoy all kinds of music and art forms.
            </p>
        </div>
    </div>
    </div>