
<div class="container">
    <div id="mia_div" class="chardiv row">
        <img src="/images/mia_neutral.png" class="character_img col-6">
        <div id="mia_txt" class="col-6">
            <h2>Mia</h2>
            <p class="cp">
                Mia is a princess of the water-bloodline, fourth in the succession of inheritance. Her older brothers are all tied up in political work, so she has taken it upon herself to search for the golden die and expand her country's territory. Don't let her calm appearance fool you. If she has to- she is worse than any storm on the seas. 
            </p>
        </div>
    </div>
    </div>