<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Chronicles Story</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>

    <h1>
        A new era is about to begin!
    </h1>
    <div>
        <p>
            The world of Fait is divided into seven kingdoms, each with their elemental bloodline: 
            The kingdom of Fire, the kingdom of Water, the kingdom of Earth,
            the kingdom of Air, the kingdom of Electricity, the kingdom of Dark matter,
            and the kingdom of Gold.
        </p>
    </div> 

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 image-container">
                <img src="/images/mapDC.jpg" alt="Map of Fait" class="center">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    The kingdom of gold is situated in the middle of the continent, which has resulted in a multielemental population. The original golden bloodline has faded out, as the late queen was its last known individual. During her last days in this realm, she hid the most precious item of the golden bloodline - the golden die - somewhere in the kingdom. Whoever manages to bring the golden die back to its pedestal in the golden castle will be the new, rightful ruler of the kingdom. People from all over the world set out on the journey to find and return the golden die. 
                </p>
            </div>
        </div>
    </div>
</body>
</html>
