

<div class="container">
    <div id="wolfgang_div" class="chardiv row">
        
        <div id="wolfgang_txt" class="col-6">
            <h2>Wolfgang</h2>
            <p class="cp">
                Captain Wolfgang is a fierce pirate and the self proclaimed ruler of the sea. No one knows much about him other than that, due to the fact that no person meeting him has lived to tell the tale. He does not really care what goes on outside his watery domain, so control over any terrestrial kingdom is a waste. Still, he searches eagerly for the golden die in order to prove once again that he is the best pirate and treasure hunter the world has ever seen. 
            </p>
        </div>
        <img src="/images/wolfgang_neutral.png" class="character_img col-6">
    </div>
    </div>