

<div class="container">
    <div id="simon_div" class="chardiv row">
        
        <div id="simon_txt" class="col-6">
            <h2>Simon</h2>
            <p class="cp">
                Despite training and trying his best, Simon is a clumsy good-for-nothing who has been sent hunting for the golden die by his family. They don't really expect him to succeed, but he will create less trouble for them on travels than at home. Who knows - maybe he'll rise to the task? 
            </p>
        </div>
        <img src="/images/simon_neutral.png" class="character_img col-6">
    </div>
    </div>