

<div class="container">
    <div id="sarah_div" class="chardiv row">
        
        <div id="sarah_txt" class="col-6">
            <h2>Sarah</h2>
            <p class="cp">
                Sarah is of the royal bloodline of fire. She has a fierce temper and a strong will, which led to her giving up her right to the throne to her younger brother. She has joined the hunt for the golden die in order to rule a country the way she finds most suitable, not the way prescribed by her bloodline.
            </p>
        </div>
        <img src="/images/sarah_neutral.png" class="character_img col-6">
    </div>
    </div>