

<div class="container">
    <div id="ghould_div" class="chardiv row">
        
        <div id="ghould_txt" class="col-6">
            <h2>Ghould/Golden ghoul</h2>
            <p class="cp">
                Based on deceased members of the golden royal family, these monsters were resurrected by someone who works in the shadows in order to bring back the royal bloodline. Something went wrong though, and now these monsters are roaming the lands of Fait, with only their animalistic instincts left. People are arguing (someone would even say fighting) about what to call them. As of now, the names "Ghould" and "Golden ghoul" are the two most popular options. 
            </p>
        </div>
        <img src="/images/ghould_neutral.png" class="character_img col-6">
    </div>
    </div>