<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Chronicles Home</title>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>

    <h1>Welcome to the world of Fait!</h1>
    
    <div>
        <img src="/images/battleWithDice.png" class="center" alt="This is supposed to be an awesome image with two anime hoereos fighting it out with swords and dice. I don't know why it doesn't work, as I have treated it exactly the same as the other images that do work. Well, that's the magic with programming, I guess....">
    </div>
    <br>
    <div>
        <p class="fpp"> 
        - Partake in thrilling gambling-based battles online and locally!
        </p>
    </div>
    <div>
        <img src="/images/mapDC.jpg" class="centerMap">
    </div>
    <br>
    <div>
        <p class="fpp">
            - Experience the start of a new era in Fait!
        </p>
    </div>
    <div>
        <img src="/images/multipleCharacters (1).png" class="center">
    </div>
    <br>
    <div>
        <p class="fpp"> 
            - Get to know a vast variety of different heroes and use their abilities strategically in battle to manipulate fate.
        </p>
    </div>

    
</body>
</html>