<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Chronicles Team Attacks</title>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/navbar.ejs")%>

    <h1 style="text-align: center; margin-top: 10px; margin-bottom: 0; padding-top: 15px; padding-bottom: 20px;">
       Team attacks - where the damage happens
    </h1>
    
    <div>
        <p>
            In addition to the "ordinary" damage you deal with your dice, you can deal heavy blows to your opponent by utilizing team attacks. These are powerful attacks unleashed when several of your team members attack at once. And the best part? They can't be countered if you fail your combo! 
            <br>
            In order to pull off a successful team attack, you need to apply different <a href="/dice_battle_status_conditions">status conditions</a> to your opponent. If they already have a status condition and you manage to hit them with another one of a different element (color), you will automatically use a team attack at the end of your turn in addition to the dice damage. Your opponent will now suffer from a stronger status condition based on the two previous ones (hence the dual-colored status condition icons). If you manage to apply a third status condition with a different element (color) than the two already applied, you will deal an insane amount of damage. The only downside is that now, if your opponent is still alive, they are free from any status conditions they might have had before. 
            <br>
            <br>
            Here is a list of which pairings of status conditions lead to different team attacks:
        </p>
    </div> 

    <div class="table-responsive">
        <table class="table" id="green1">
            <thead>
                <tr>
                    <th>Pairing</th>
                    <th>Team attack</th>
                    <th>Damage</th>
                    <th>New status condition</th>
                </tr>
            </thead>
            <tbody>
                    <tr id="burnedDiv">
                    <td>
                        Burned  +  <a href="#soakedDiv">Soaked</a>
                        <br>
                        <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                    <td>Steam explosion</td>
                    <td>1250</td>
                    <td><a href="#steamingDiv">Steaming</a>
                        <br>
                        <img src="/images/conditions/scsteaming.png" class="statusIcon" alt="steaming icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Burned  +  <a href="#hurledDiv">Hurled</a>
                        <br>
                        <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                    <td>Fire tornado</td>
                    <td>1000</td>
                    <td><a href="#burnedandhurledDiv">Burned and hurled</a>
                        <br>
                        <img src="/images/conditions/scburnedandhurled.png" class="statusIcon" alt="burnedandhurled icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Burned  +  <a href="#poisonedDiv">Poisoned</a>
                        <br>
                        <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                    <td>Chemical reaction</td>
                    <td>1000</td>
                    <td><a href="#asphyxiatedDiv">Asphyxiated</a>
                        <br>
                        <img src="/images/conditions/scasphyxiated.png" class="statusIcon" alt="asphyxiated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Burned  +  <a href="#ionizedDiv">Ionized</a>
                        <br>
                        <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                    <td>Firework mayhem</td>
                    <td>1500</td>
                    <td><a href="#overheatedDiv">Overheated</a>
                        <br>
                        <img src="/images/conditions/scoverheated.png" class="statusIcon" alt="overheated icon">
                    </td>
                </tr>
                <tr id="soakedDiv">
                    <td>
                        Soaked  +  <a href="#burnedDiv">Burned</a>
                        <br>
                        <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                    <td>Steam explosion</td>
                    <td>1250</td>
                    <td><a href="#steamingDiv">Steaming</a>
                        <br>
                        <img src="/images/conditions/scsteaming.png" class="statusIcon" alt="steaming icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Soaked  +  <a href="#hurledDiv">Hurled</a>
                        <br>
                        <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                    <td>Vortex</td>
                    <td>1250</td>
                    <td><a href="#spinninginthevortexDiv">Spinning in the vortex</a>
                        <br>
                        <img src="/images/conditions/scspinninginthevortex.png" class="statusIcon" alt="spinninginthevortex icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Soaked  +  <a href="#poisonedDiv">Poisoned</a>
                        <br>
                        <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                    <td>Poison wave</td>
                    <td>1250</td>
                    <td><a href="#intoxicatedDiv">Intoxicated</a>
                        <br>
                        <img src="/images/conditions/scintoxicated.png" class="statusIcon" alt="intoxicated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Soaked  +  <a href="#ionizedDiv">Ionized</a>
                        <br>
                        <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                    <td>Electrocution</td>
                    <td>1250</td>
                    <td><a href="#paralyzedDiv">Paralyzed</a>
                        <br>
                        <img src="/images/conditions/scparalyzed.png" class="statusIcon" alt="paralyzed icon">
                    </td>
                </tr>
                <tr id="hurledDiv">
                    <td>
                        Hurled  +  <a href="#burnedDiv">Burned</a>
                        <br>
                        <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                    <td>Fire tornado</td>
                    <td>1000</td>
                    <td><a href="#burnedandhurledDiv">Burned and hurled</a>
                        <br>
                        <img src="/images/conditions/scburnedandhurled.png" class="statusIcon" alt="burnedandhurled icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Hurled  +  <a href="#soakedDiv">Soaked</a>
                        <br>
                        <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                    <td>Vortex</td>
                    <td>1250</td>
                    <td><a href="#spinninginthevortexDiv">Spinning in the vortex</a>
                        <br>
                        <img src="/images/conditions/scspinninginthevortex.png" class="statusIcon" alt="spinninginthevortex icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Hurled  +  <a href="#poisonedDiv">Poisoned</a>
                        <br>
                        <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                    <td>War crime</td>
                    <td>1000</td>
                    <td><a href="#suffocatedDiv">Suffocated</a>
                        <br>
                        <img src="/images/conditions/scsuffocated.png" class="statusIcon" alt="suffocated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Hurled  +  <a href="#ionizedDiv">Ionized</a>
                        <br>
                        <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                    <td>Thunder storm</td>
                    <td>1500</td>
                    <td><a href="#struckbylightningDiv">Struck by lightning</a>
                        <br>
                        <img src="/images/conditions/scstruckbylightning.png" class="statusIcon" alt="struckbylightning icon">
                    </td>
                </tr>
                <tr id="poisonedDiv">
                    <td>
                        Poisoned  +  <a href="#burnedDiv">Burned</a>
                        <br>
                        <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                    <td>Chemical reaction</td>
                    <td>1000</td>
                    <td><a href="#asphyxiatedDiv">Asphyxiated</a>
                        <br>
                        <img src="/images/conditions/scasphyxiated.png" class="statusIcon" alt="asphyxiated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Poisoned  +  <a href="#soakedDiv">Soaked</a>
                        <br>
                        <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                    <td>Poison wave</td>
                    <td>1250</td>
                    <td><a href="#intoxicatedDiv">Intoxicated</a>
                        <br>
                        <img src="/images/conditions/scintoxicated.png" class="statusIcon" alt="intoxicated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Poisoned  +  <a href="#hurledDiv">Hurled</a>
                        <br>
                        <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                    <td>War crime</td>
                    <td>1000</td>
                    <td><a href="#suffocatedDiv">Suffocated</a>
                        <br>
                        <img src="/images/conditions/scsuffocated.png" class="statusIcon" alt="suffocated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Poisoned  +  <a href="#ionizedDiv">Ionized</a>
                        <br>
                        <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                    <td>Ethics gone</td>
                    <td>1500</td>
                    <td><a href="#labratDiv">Lab rat</a>
                        <br>
                        <img src="/images/conditions/sclabrat.png" class="statusIcon" alt="labrat icon">
                    </td>
                </tr>
                <tr id="ionizedDiv">
                    <td>
                        Ionized  +  <a href="#burnedDiv">Burned</a>
                        <br>
                        <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                    <td>Firework mayhem</td>
                    <td>1500</td>
                    <td><a href="#overheatedDiv">Overheated</a>
                        <br>
                        <img src="/images/conditions/scoverheated.png" class="statusIcon" alt="overheated icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ionized  +  <a href="#soakedDiv">Soaked</a>
                        <br>
                        <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                    <td>Electrocution</td>
                    <td>1250</td>
                    <td><a href="#paralyzedDiv">Paralyzed</a>
                        <br>
                        <img src="/images/conditions/scparalyzed.png" class="statusIcon" alt="paralyzed icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ionized  +  <a href="#hurledDiv">Hurled</a>
                        <br>
                        <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                    <td>Thunderstorm</td>
                    <td>1500</td>
                    <td><a href="#struckbylightningDiv">Struck by lightning</a>
                        <br>
                        <img src="/images/conditions/scstruckbylightning.png" class="statusIcon" alt="struckbylightning icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        Ionized  +  <a href="#poisonedDiv">Poisoned</a>
                        <br>
                        <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                    <td>Ethics gone</td>
                    <td>1500</td>
                    <td><a href="#labratDiv">Lab rat</a>
                        <br>
                        <img src="/images/conditions/sclabrat.png" class="statusIcon" alt="labrat icon">
                    </td>
                </tr>
            <tr id="steamingDiv">
                <td>
                    Steaming  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/scsteaming.png" class="statusIcon" alt="steaming icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Steam tornado</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Steaming  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scsteaming.png" class="statusIcon" alt="steaming icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Poisoncloud panic</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Steaming  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scsteaming.png" class="statusIcon" alt="steaming icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>Thundercloud</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="burnedandhurledDiv">
                <td>
                    Burned and hurled  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/scburnedandhurled.png" class="statusIcon" alt="burnedandhurled icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Steam tornado</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Burned and hurled  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scburnedandhurled.png" class="statusIcon" alt="burnedandhurled icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Chemical catastrpohy</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Burned and hurled  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scburnedandhurled.png" class="statusIcon" alt="burnedandhurled icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>Fiery voltage</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="asphyxiatedDiv">
                <td>
                    Asphyxiated  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/scasphyxiated.png" class="statusIcon" alt="asphyxiated icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Lethal injection</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Asphyxiated  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/scasphyxiated.png" class="statusIcon" alt="asphyxiated icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Poisonous tornado</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Asphyxiated  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scasphyxiated.png" class="statusIcon" alt="asphyxiated icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>Good night</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="overheatedDiv">
                <td>
                    Overheated  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/scoverheated.png" class="statusIcon" alt="overheated icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Steam explosion X</td>
                <td>5000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Overheated  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/scoverheated.png" class="statusIcon" alt="overheated icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Fire tornado X</td>
                <td>5000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Overheated  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scoverheated.png" class="statusIcon" alt="overheated icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Chemical reaction X</td>
                <td>5000</td>
                <td><br>---</td>
            </tr>
            <tr id="spinninginthevortexDiv">
                <td>
                    Spinning in the vortex  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/scspinninginthevortex.png" class="statusIcon" alt="spinninginthevortex icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>Steam tornado</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Spinning in the vortex  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scspinninginthevortex.png" class="statusIcon" alt="spinninginthevortex icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Poison catastrophy</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Spinning in the vortex  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scspinninginthevortex.png" class="statusIcon" alt="spinninginthevortex icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>Toast</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="intoxicatedDiv">
                <td>
                    Intoxicated  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/scintoxicated.png" class="statusIcon" alt="intoxicated icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>Reduce to powder</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Intoxicated  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/scintoxicated.png" class="statusIcon" alt="intoxicated icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Tummy twoister</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Intoxicated  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scintoxicated.png" class="statusIcon" alt="intoxicated icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>Dissolve</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="paralyzedDiv">
                <td>
                    Paralyzed  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/scparalyzed.png" class="statusIcon" alt="paralyzed icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>Frantic firework</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Paralyzed  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/scparalyzed.png" class="statusIcon" alt="paralyzed icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Wild ride</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Paralyzed  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scparalyzed.png" class="statusIcon" alt="paralyzed icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Ethics far out the window</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="suffocatedDiv">
                <td>
                    Suffocated  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/scsuffocated.png" class="statusIcon" alt="suffocated icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>So long lungs</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Suffocated  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/scsuffocated.png" class="statusIcon" alt="suffocated icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Drown town</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Suffocated  +  <a href="#ionizedDiv">Ionized</a>
                    <br>
                    <img src="/images/conditions/scsuffocated.png" class="statusIcon" alt="suffocated icon">  <img src="/images/conditions/scionized.png" class="statusIcon" alt="ionized icon"></td>
                <td>No hope</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="struckbylightningDiv">
                <td>
                    Struck by lightning  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/scstruckbylightning.png" class="statusIcon" alt="struckbylightning icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>KaBoOOmM</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Struck by lightning  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/scstruckbylightning.png" class="statusIcon" alt="struckbylightning icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Toast</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Struck by lightning  +  <a href="#poisonedDiv">Poisoned</a>
                    <br>
                    <img src="/images/conditions/scstruckbylightning.png" class="statusIcon" alt="struckbylightning icon">  <img src="/images/conditions/scpoisoned.png" class="statusIcon" alt="poisoned icon"></td>
                <td>Ethics far out the window</td>
                <td>3000</td>
                <td><br>---</td>
            </tr>
            <tr id="labratDiv">
                <td>
                    Labrat  +  <a href="#burnedDiv">Burned</a>
                    <br>
                    <img src="/images/conditions/sclabrat.png" class="statusIcon" alt="labrat icon">  <img src="/images/conditions/scburned.png" class="statusIcon" alt="burned icon"></td>
                <td>Firework mayhem</td>
                <td>4000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Labrat  +  <a href="#soakedDiv">Soaked</a>
                    <br>
                    <img src="/images/conditions/sclabrat.png" class="statusIcon" alt="labrat icon">  <img src="/images/conditions/scsoaked.png" class="statusIcon" alt="soaked icon"></td>
                <td>Electrocution X</td>
                <td>4000</td>
                <td><br>---</td>
            </tr>
            <tr>
                <td>
                    Labrat  +  <a href="#hurledDiv">Hurled</a>
                    <br>
                    <img src="/images/conditions/sclabrat.png" class="statusIcon" alt="labrat icon">  <img src="/images/conditions/schurled.png" class="statusIcon" alt="hurled icon"></td>
                <td>Thunderstorm X</td>
                <td>4000</td>
                <td><br>---</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>









