
a{
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
}
h1{
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
}
.nav-item{
  font-size: 20px;
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
  
}
.nav-link{
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
  
}
.dropdown-menu {
  font-family: Jura; 
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
  background-color: #013539;
}
.dropdown-item{
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
}
#togglerButton{
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
  background-color: #E09A11; 
}
.navbar-brand{
  font-size: 20px;
  text-shadow: 0 0 10px #00FFFF;
  color: #FFFFFF;
}
.allCharImg{

  width:70px;

}
#allCharDiv{
  margin-top: 3vw; 
  display: inline-flex; 
  justify-content: space-evenly;
}
#allCharDiv a {
  font-family: Jura; 
  font-size: 2.5vw; 
  padding-top: 0vw; 
  padding-left: 1vw; 
  padding-right: 1vw; 
  text-align: center;
}